body {
  box-sizing: border-box;
  background: radial-gradient(closest-side at 40% 50%, #e8f3f8, #dbdde2);
  }

  .block {
    max-width: 1000px;
    align-items: center;
    margin: 15% auto;
    display: flex;
    flex-direction: column;
  }

  .title {
    color: rgb(99, 106, 107);
    font-size: 50px;
  }

  .currency {
    display: inline-block;
  }

  .currency__field,
  .currency__select {
    font-size: 24px;
    color: rgb(105, 92, 92);
    padding: 7px 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(27, 26, 26, 0.25),
      0 10px 10px rgba(70, 64, 64, 0.22);
}

.currency__field:hover,
.currency__select:hover {
  cursor: pointer;
  background-color: #f2f4f5;
}

.symbol {
  font-size: 24px;
  font-weight: 900;
  color: rgb(105, 92, 92);
}
@media (max-width: 480px) {
  .title {
    font-size: 27px;
  }

  .currency__field,
  .currency__select {
    margin-top: 7px;
    font-size: 18px;
    color: rgb(105, 92, 92);
    padding: 7px 5px;
  }
}